*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

a, ul, li{
    list-style: none;
    text-decoration: none;
}

nav{
    display: flex;
    flex-wrap: wrap;
}


.nav_wrap{
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
}

.nav_wrap ul{
    display: flex;
    flex-wrap: wrap;
    padding-left:  20px;
}

.list_nav li{
    padding-left: 20px;
    
}

.home_principal{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;    
}

.home_principal article{
    padding: 20px;
}

.name_nav{
    font-family:monospace;
    font-size: 24px;
}

.titulo_home{
    font-size: 30px;
    text-align: center;
}

